<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> 
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-lookbook.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% style %}
{% assign smLower = '992px' %}
    @media(max-width: {{ smLower }}){
      .gallery-thumbs{width: 100% !important;}
    }

    @media (max-width: 1200px){
      .container{flex-wrap: wrap; height: 100%; flex-direction: column-reverse;}
      
      .gallery-top .swiper-wrapper {height: 700px;}
      
      .quick-add__submit{min-width: 99% !important;}
      
      .button--full-width{width: 99%;}
    }
  
{% endstyle%}
 <div class="container page-width">
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
      <div class="swiper-slide">
            {% render 'card-product-lookbook',
              card_product: block.settings.product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: true,
              section_id: section.id
            %}
      </div>
      {% endfor %}
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <!--Pagination-->
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
      <div class="swiper-slide gallery-{{block.id}} hotspot-icon"><span class="pulse"></span></div>
      {% endfor %}
    </div>
  </div>
 </div>
{% schema %}
  {
    "name": "t:sections.lookbook.name",
    "class": "lookbook",
    "max_blocks": 4,
    "settings": [
    {
      "type": "header",
      "content": "t:sections.lookbook.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.lookbook.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.lookbook.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.lookbook.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.lookbook.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.lookbook.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.lookbook.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.lookbook.settings.show_rating.label",
      "info": "t:sections.lookbook.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.lookbook.settings.enable_quick_buy.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.lookbook.settings.image.label"
    }      
    ],
    "blocks": [
      {
        "type": "hotspot",
        "name": "t:sections.lookbook.blocks.hotspot.name",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "t:sections.lookbook.blocks.hotspot.settings.product.label"
          },
          {
            "type": "range",
            "id": "top_position",
            "min": 2,
            "max": 100,
            "step": 2,
            "default": 10,
            "label": "t:sections.lookbook.blocks.hotspot.settings.top_position.label"
          },
          {
            "type": "range",
            "id": "left_position",
            "min": 2,
            "max": 100,
            "step": 2,
            "default": 10,
            "label": "t:sections.lookbook.blocks.hotspot.settings.left_position.label"
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": "Lookbook"
      }
    ]
  }
{% endschema %}

  <style>
    .gallery-thumbs {
      height: 100%;
      box-sizing: border-box;
      padding: 10px 0;
      width: 50%;
      background: url({{section.settings.image | image_url: width: 1000 }});
      background-size: cover;
      height: 680px;
    }

    {% for block in section.blocks %}
    .gallery-thumbs .swiper-slide.gallery-{{block.id}} {
        position: absolute;
        top: {{ block.settings.top_position }}%;
        left: {{ block.settings.left_position }}%;
    }  
    {% endfor %}

    
  </style>
  <script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      loop: true,
      freeMode: true,
      loopedSlides: 5, //looped slides should be the same
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      thumbs: {
        swiper: galleryThumbs,
      },
    });
  </script>
