<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> 
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
 <div class="container page-width">
  <div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
      <div class="swiper-slide">
            {% render 'card-product-lookbook',
              card_product: block.settings.product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: true,
              section_id: section.id
            %}
      </div>
      {% endfor %}
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
      <div class="swiper-slide gallery-{{block.id}} hotspot-icon"><span class="pulse">asdf</span></div>
      {% endfor %}
    </div>
  </div>
 </div>
{% schema %}
  {
    "name": "Section name",
    "class": "lookbook",
    "settings": [
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.multicolumn.blocks.column.settings.image.label"
    }      
    ],
    "blocks": [
      {
        "type": "hotspot",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Hotspot Product"
          },
          {
            "type": "range",
            "id": "top_position",
            "min": 5,
            "max": 100,
            "step": 5,
            "default": 10,
            "label": "Top Position"
          },
          {
            "type": "range",
            "id": "left_position",
            "min": 5,
            "max": 100,
            "step": 5,
            "default": 10,
            "label": "Left Position"
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": "Lookbook"
      }
    ]
  }
{% endschema %}

  <style>

    .container{
      display: inline-flex;
      width: 100%;
      gap: 30px;
    }
    .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
    }
    .swiper-container.gallery-thumb{overflow: visible;}
    .lookbook {
        display: flex;
        width: 100%;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
      width: 500px;
      height: 850px;
    }

    .gallery-top {
      height: 80%;
      width: 50%;
    }

    .gallery-thumbs {
      height: 100%;
      box-sizing: border-box;
      padding: 10px 0;
      width: 50%;
      background: url({{section.settings.image | image_url: width: 1000 }});
      background-size: contain;
      height: 680px;
    }

    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 1;
      width: 30px !important;
      height: 30px;
    }

    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }

    .gallery-thumbs .swiper-wrapper {
      display: block;
    }

    .gallery-thumb .swiper-wrapper {
        position: relative;
    }    

    {% for block in section.blocks %}
    .gallery-thumbs .swiper-slide.gallery-{{block.id}} {
        position: absolute;
        top: {{ block.settings.top_position }}%;
        left: {{ block.settings.left_position }}%;
    }  
    {% endfor %}

    .hotspot-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .pulse{
        width: 100px;
        height: 100px;
        background: #FF6D4A;
        border-radius: 50%;
        color: #FFF;
        font-size: 20px;
        text-align: center;
        line-height: 100px;
        font-family: sans-serif;
        text-transform: uppercase;
        animation: animate-pulse 3s linear infinite;
        cursor: pointer
    }
    .hotspot-icon:hover .pulse{animation: none;}
    @keyframes animate-pulse{
        0%{
            box-shadow: 0 0 0 0 rgba(255,109,74,0.7),  0 0 0 0 rgba(255,109,74,0.7);
        }
        40%{
            box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(255,109,74,0.7);
        }
        80%{
            box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
        }
        100%{
            box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
        }
        
    }

  </style>
<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      loop: true,
      freeMode: true,
      loopedSlides: 5, //looped slides should be the same
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop: true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      thumbs: {
        swiper: galleryThumbs,
      },
    });
</script>
